examples/abalone-automatic.json
[
    {
        "id": "4e2d8c13066b705e",
        "type": "tab",
        "label": "Abalone - automatic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc1971e4013987fa",
        "type": "group",
        "z": "4e2d8c13066b705e",
        "name": "Artificial Neural Network (ANN)",
        "style": {
            "label": true,
            "label-position": "s",
            "color": "#999999"
        },
        "nodes": [
            "41622f3473cfb56f",
            "4f14ac62f8f069f2",
            "123aae41b26bfe8e",
            "2b84e5bbb64fe0cb",
            "313665e04e61359b",
            "39677c738305356f",
            "b85af86ca0340368",
            "e60677f1ea7d46b6",
            "fb3498f0d536a1cf",
            "28b88f6d78f5b28e",
            "cb5155fe5b33e067",
            "38ee46896e8afc70",
            "c52b1dce2c3cdb66",
            "ad9e2d4b22036fbf",
            "ae0306299c5e6fe7",
            "06821941ee4e1839",
            "7e2084fcfa0b4107",
            "317faf983c665e9b",
            "774ee06a687c9b44"
        ],
        "x": 273,
        "y": 489.00003269740523,
        "w": 1277,
        "h": 655.9999825613838
    },
    {
        "id": "41622f3473cfb56f",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "69b3b4d075b73e0b": -0.3442429853094819,
            "b68f5f83b42f3f75": -0.0002897356220859461,
            "c6fe8ffe09f6b49a": 0.00004005095654421773,
            "6c448b340d14c153": 0.06475372958913558,
            "aee8146be4148868": -0.004546592262518454,
            "b3dea75bed3045a7": -0.00006137015498810685,
            "3d57239420fd0729": -0.014027131523875648,
            "c03913d2e07ed895": -0.00023342403029628792,
            "123aae41b26bfe8e": -0.02148748134979617,
            "2b84e5bbb64fe0cb": -0.0817146336836876,
            "39677c738305356f": -0.10572543634865089,
            "b85af86ca0340368": 0.5040180049572328,
            "e60677f1ea7d46b6": -0.031194338380013804,
            "fb3498f0d536a1cf": -0.30498689327785955,
            "28b88f6d78f5b28e": 0.3206453497718304,
            "cb5155fe5b33e067": 0.2194562465153123
        },
        "actfunct": "Identity",
        "x": 867,
        "y": 692.3333282470703,
        "wires": [
            [
                "317faf983c665e9b",
                "774ee06a687c9b44"
            ]
        ]
    },
    {
        "id": "4f14ac62f8f069f2",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "69b3b4d075b73e0b": -0.5129913330032997,
            "b68f5f83b42f3f75": -0.758074854862596,
            "c6fe8ffe09f6b49a": -0.8102858681452546,
            "6c448b340d14c153": -0.04021179092785754,
            "aee8146be4148868": 0.21767480006275453,
            "b3dea75bed3045a7": -0.9048057192221864,
            "3d57239420fd0729": 0.2186834457940083,
            "c03913d2e07ed895": -0.9092781754050884,
            "123aae41b26bfe8e": 0.6810727309992829,
            "2b84e5bbb64fe0cb": 0.008813969689328894,
            "39677c738305356f": 0.004980262763959632,
            "b85af86ca0340368": -0.8021361036856175,
            "e60677f1ea7d46b6": -0.028047947084213966,
            "fb3498f0d536a1cf": 0.264317167710268,
            "28b88f6d78f5b28e": 0.19419302205867991,
            "cb5155fe5b33e067": 0.3793058672789181
        },
        "actfunct": "Sinusoid",
        "x": 877,
        "y": 754.0000152587891,
        "wires": [
            [
                "774ee06a687c9b44",
                "317faf983c665e9b"
            ]
        ]
    },
    {
        "id": "123aae41b26bfe8e",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "Gender",
        "x": 359,
        "y": 530.0000326974052,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "2b84e5bbb64fe0cb",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "Length",
        "x": 369,
        "y": 610.8571730633172,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "06821941ee4e1839",
                "7e2084fcfa0b4107"
            ]
        ],
        "info": "Sex,Length,Diameter,Height,Whole,Shucked,Viscera,Shell,Rings"
    },
    {
        "id": "313665e04e61359b",
        "type": "nnb-output-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "Rings",
        "weights": {
            "088c8d356c830f6d": 1,
            "9d7374590e08a1ea": 0.8539994423584765,
            "d7ca0b7b9d5f2df5": 0.018718954449526315,
            "86f077bb176c0b9e": null,
            "840b927f9097a0ab": null,
            "6be3952086799015": null,
            "d1e47a7e37be8d5d": -128.8287356283184,
            "8de98739b9044e35": null,
            "f845421bd28d0944": null,
            "4ad9e52c3209a507": null,
            "9fa0d4f1b742dfce": null,
            "b3b0f69e3e88f309": 0.5,
            "91cc49775bf95761": 0.5,
            "14d39e537e3e4673": 1,
            "4abb348e7263de40": 1,
            "2bbca30b8fe54a89": 1,
            "b6d3156a1b7950f2": 1,
            "97cc2cf089fd432b": 1,
            "b409a42929e0b2b4": 1,
            "f147a41c14cf792a": 1,
            "47fb8f7c29cb5643": -0.006763502852086571,
            "2e2a5ef6ef1593d5": -0.019064616546362243,
            "317faf983c665e9b": 1,
            "774ee06a687c9b44": 1
        },
        "x": 1474,
        "y": 771.0000762939453,
        "wires": [
            [
                "bb0ad883c48368ef"
            ]
        ]
    },
    {
        "id": "bb0ad883c48368ef",
        "type": "nnb-backprop",
        "z": "4e2d8c13066b705e",
        "name": "",
        "scope": [
            "313665e04e61359b"
        ],
        "x": 1759,
        "y": 456.99993896484375,
        "wires": [
            [
                "ac32b2a02aedee86"
            ]
        ]
    },
    {
        "id": "ac32b2a02aedee86",
        "type": "nnb-trainer",
        "z": "4e2d8c13066b705e",
        "name": "",
        "scope": [
            "123aae41b26bfe8e",
            "2b84e5bbb64fe0cb",
            "39677c738305356f",
            "b85af86ca0340368",
            "e60677f1ea7d46b6",
            "fb3498f0d536a1cf",
            "28b88f6d78f5b28e",
            "cb5155fe5b33e067"
        ],
        "learningrate": "0.04",
        "weightmin": "-1",
        "weightmax": "1",
        "x": 1753,
        "y": 227,
        "wires": [
            [
                "bb0ad883c48368ef",
                "f9a88ecd59c5d986"
            ]
        ]
    },
    {
        "id": "cff4f050653ed502",
        "type": "csv",
        "z": "4e2d8c13066b705e",
        "name": "dataset - 4177 entries",
        "sep": ",",
        "hdrin": false,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "Gender,Length,Diameter,Height,Whole,Shucked,Viscera,Shell,Rings",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 943,
        "y": 344,
        "wires": [
            [
                "463033903251f2df"
            ]
        ]
    },
    {
        "id": "74cf1b8c67e81cdc",
        "type": "http request",
        "z": "4e2d8c13066b705e",
        "name": "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 343.9999694824219,
        "wires": [
            [
                "cff4f050653ed502"
            ]
        ],
        "info": "Details available here:\n\nhttps://archive.ics.uci.edu/ml/datasets/Abalone\n\nData:\n\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/abalone/\n\n"
    },
    {
        "id": "6ac0dc3be346274e",
        "type": "inject",
        "z": "4e2d8c13066b705e",
        "name": "Load dataset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 276,
        "y": 283.99998474121094,
        "wires": [
            [
                "74cf1b8c67e81cdc"
            ]
        ]
    },
    {
        "id": "463033903251f2df",
        "type": "function",
        "z": "4e2d8c13066b705e",
        "name": "remap gender & set topic",
        "func": "var _genderMap = {\n    'M': 0.01,\n    'F': 0.02,\n    'I': 0.03\n};\n\nfor ( var idx = 0; idx < msg.payload.length ; idx++ ) {\n    msg.payload[idx].Gender = _genderMap[msg.payload[idx].Gender]\n}\n\nmsg.topic = \"dataset\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 344,
        "wires": [
            [
                "60606a3b44c63da6"
            ]
        ]
    },
    {
        "id": "39677c738305356f",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "Diameter",
        "x": 359,
        "y": 691.7143134292292,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "ae0306299c5e6fe7",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "b85af86ca0340368",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "Height",
        "x": 369,
        "y": 772.5714537951411,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "e60677f1ea7d46b6",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "Whole",
        "x": 369,
        "y": 853.4285941610531,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "fb3498f0d536a1cf",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "Shucked",
        "x": 359,
        "y": 934.285734526965,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "28b88f6d78f5b28e",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "Viscera",
        "x": 359,
        "y": 1015.142874892877,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "cb5155fe5b33e067",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "Shell",
        "x": 369,
        "y": 1096.000015258789,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "33d9a54d09b3f7cc",
        "type": "inject",
        "z": "4e2d8c13066b705e",
        "name": "randomise weights",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "random-weights",
        "x": 299,
        "y": 225.3332977294922,
        "wires": [
            [
                "ac32b2a02aedee86"
            ]
        ]
    },
    {
        "id": "60606a3b44c63da6",
        "type": "change",
        "z": "4e2d8c13066b705e",
        "name": "set training and test sizes",
        "rules": [
            {
                "t": "set",
                "p": "training_size",
                "pt": "msg",
                "to": "32",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "testing_size",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1495,
        "y": 343.33331298828125,
        "wires": [
            [
                "ac32b2a02aedee86"
            ]
        ]
    },
    {
        "id": "38ee46896e8afc70",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "69b3b4d075b73e0b": -0.06377806745778017,
            "b68f5f83b42f3f75": -0.5191529460848671,
            "c6fe8ffe09f6b49a": -0.3277284352989841,
            "6c448b340d14c153": 0.9250734519836256,
            "aee8146be4148868": -0.00454659226251845,
            "b3dea75bed3045a7": 0.2303658244140131,
            "3d57239420fd0729": 0.8551077070899943,
            "c03913d2e07ed895": -0.4602164673646334,
            "123aae41b26bfe8e": 0.27389596744039857,
            "2b84e5bbb64fe0cb": -0.47095496844774787,
            "39677c738305356f": -0.5849190037923223,
            "b85af86ca0340368": -0.5404216009756434,
            "e60677f1ea7d46b6": -0.5733642521198775,
            "fb3498f0d536a1cf": -0.6099540515223081,
            "28b88f6d78f5b28e": -0.42186457206935357,
            "cb5155fe5b33e067": -0.838240413849623
        },
        "actfunct": "Identity",
        "x": 867,
        "y": 632.3333282470703,
        "wires": [
            [
                "317faf983c665e9b",
                "774ee06a687c9b44"
            ]
        ]
    },
    {
        "id": "c52b1dce2c3cdb66",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "",
        "bias": 0,
        "threshold": "0",
        "weights": {
            "b68f5f83b42f3f75": 0.000010442528307690134,
            "6c448b340d14c153": 0.0010644690593154009,
            "aee8146be4148868": 0.00003155582584975163,
            "b3dea75bed3045a7": 0.000002580326670235231,
            "3d57239420fd0729": 0.0009688101440572079,
            "69b3b4d075b73e0b": -0.04418034167739243,
            "c6fe8ffe09f6b49a": 0.000008516425028398338,
            "c03913d2e07ed895": -0.00002594859396165819,
            "123aae41b26bfe8e": 0.8236210565761717,
            "2b84e5bbb64fe0cb": 0.016168800831502458,
            "39677c738305356f": -0.2551645670318612,
            "b85af86ca0340368": 0.0668027563044244,
            "e60677f1ea7d46b6": -0.005372912014720729,
            "fb3498f0d536a1cf": 0.23887219478853278,
            "28b88f6d78f5b28e": 0.29212353552927695,
            "cb5155fe5b33e067": 0.08733273210536997
        },
        "actfunct": "SELU",
        "x": 867,
        "y": 809.3333282470703,
        "wires": [
            [
                "774ee06a687c9b44",
                "317faf983c665e9b"
            ]
        ]
    },
    {
        "id": "ad9e2d4b22036fbf",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "",
        "bias": "0",
        "threshold": "-0",
        "weights": {
            "69b3b4d075b73e0b": -0.2697501619550997,
            "b68f5f83b42f3f75": -0.0006492693409407074,
            "c6fe8ffe09f6b49a": 0.005593659056350576,
            "6c448b340d14c153": 0.005596178945094108,
            "aee8146be4148868": 0.000036911167179977144,
            "b3dea75bed3045a7": -0.01601735674581917,
            "3d57239420fd0729": -0.050473187991846205,
            "c03913d2e07ed895": -0.06289544160574616,
            "123aae41b26bfe8e": 0.8954165138113563,
            "2b84e5bbb64fe0cb": -0.8347078314967761,
            "39677c738305356f": 0.131184762867853,
            "b85af86ca0340368": -0.9329675310511291,
            "e60677f1ea7d46b6": 0.03728927953796628,
            "fb3498f0d536a1cf": -1,
            "28b88f6d78f5b28e": 0.22989078418956682,
            "cb5155fe5b33e067": -1
        },
        "actfunct": "Sinc",
        "x": 867,
        "y": 932.3333282470703,
        "wires": [
            [
                "774ee06a687c9b44",
                "317faf983c665e9b"
            ]
        ]
    },
    {
        "id": "ae0306299c5e6fe7",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "",
        "bias": "0",
        "threshold": "0",
        "weights": {
            "69b3b4d075b73e0b": 0.3841789158152365,
            "b68f5f83b42f3f75": 1.26139696789249e-8,
            "c6fe8ffe09f6b49a": 0.004853808609101314,
            "6c448b340d14c153": 0.006299288486772927,
            "aee8146be4148868": -0.005457250832927505,
            "b3dea75bed3045a7": -0.0008083136232581649,
            "3d57239420fd0729": 0.08437564120220878,
            "c03913d2e07ed895": -0.04246353994792084,
            "123aae41b26bfe8e": 0.40027674979863576,
            "2b84e5bbb64fe0cb": -0.20427020893078296,
            "39677c738305356f": 0.3434101242228617,
            "b85af86ca0340368": 0.40097135107537873,
            "e60677f1ea7d46b6": -0.03979758938254013,
            "fb3498f0d536a1cf": 0.006595462020216176,
            "28b88f6d78f5b28e": -0.3329563666977065,
            "cb5155fe5b33e067": -0.6295943057221993
        },
        "actfunct": "Logistic",
        "x": 867,
        "y": 987.0000762939453,
        "wires": [
            [
                "774ee06a687c9b44",
                "317faf983c665e9b"
            ]
        ]
    },
    {
        "id": "06821941ee4e1839",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "",
        "bias": 0,
        "threshold": "0",
        "weights": {
            "69b3b4d075b73e0b": 0.647061096416059,
            "b68f5f83b42f3f75": 0.285876682746115,
            "c6fe8ffe09f6b49a": -0.5305270910492642,
            "6c448b340d14c153": 0.013361201229471712,
            "aee8146be4148868": 0.005457250832927506,
            "b3dea75bed3045a7": 0.10532894825967729,
            "3d57239420fd0729": 0.030808943018973297,
            "c03913d2e07ed895": 0.6734951332981663,
            "123aae41b26bfe8e": 0.13866788982353784,
            "2b84e5bbb64fe0cb": -0.10089767079272537,
            "39677c738305356f": -0.28943692201621574,
            "b85af86ca0340368": -1,
            "e60677f1ea7d46b6": 0.0029239549658363635,
            "fb3498f0d536a1cf": -0.019593675214028668,
            "28b88f6d78f5b28e": 1,
            "cb5155fe5b33e067": 0.028220742990421058
        },
        "actfunct": "Logistic",
        "x": 867,
        "y": 871.3333282470703,
        "wires": [
            [
                "774ee06a687c9b44",
                "317faf983c665e9b"
            ]
        ]
    },
    {
        "id": "7e2084fcfa0b4107",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "b68f5f83b42f3f75": -6.280768371481855e-7,
            "6c448b340d14c153": -0.0003356167523939958,
            "aee8146be4148868": -0.005457250832927504,
            "b3dea75bed3045a7": -0.0010507647041465911,
            "3d57239420fd0729": -0.042265077377327834,
            "69b3b4d075b73e0b": 0.553365135966607,
            "c6fe8ffe09f6b49a": 0.0027634383382546205,
            "c03913d2e07ed895": 0.023666926174236387,
            "123aae41b26bfe8e": -0.6899638959477719,
            "2b84e5bbb64fe0cb": 1,
            "39677c738305356f": 1,
            "b85af86ca0340368": -1,
            "e60677f1ea7d46b6": 0.13067127911902526,
            "fb3498f0d536a1cf": -1,
            "28b88f6d78f5b28e": -1,
            "cb5155fe5b33e067": 0.8008597486425162
        },
        "actfunct": "Logistic",
        "x": 877,
        "y": 573.3333282470703,
        "wires": [
            [
                "317faf983c665e9b",
                "774ee06a687c9b44"
            ]
        ]
    },
    {
        "id": "317faf983c665e9b",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "",
        "bias": 0,
        "threshold": "-1",
        "weights": {
            "088c8d356c830f6d": 0.14253634292745856,
            "4abb348e7263de40": -0.11565748100858195,
            "f147a41c14cf792a": 0.0011921733813730004,
            "9d7374590e08a1ea": -0.019524417493297783,
            "2bbca30b8fe54a89": -0.33068218380668274,
            "b6d3156a1b7950f2": -0.8485366450239248,
            "97cc2cf089fd432b": 0.0014149442652957684,
            "b409a42929e0b2b4": 0.04313564948252452,
            "41622f3473cfb56f": 0.2406922974878498,
            "4f14ac62f8f069f2": 0.18377209273820072,
            "38ee46896e8afc70": 0.8879318667909291,
            "c52b1dce2c3cdb66": 0.49934425323338116,
            "ad9e2d4b22036fbf": 0.5484448288952884,
            "ae0306299c5e6fe7": -0.5166872860545063,
            "06821941ee4e1839": -0.1951634051465436,
            "7e2084fcfa0b4107": 0.6024816647611144
        },
        "actfunct": "BipolarSigmoid",
        "x": 1287,
        "y": 715.3333282470703,
        "wires": [
            [
                "313665e04e61359b"
            ]
        ]
    },
    {
        "id": "774ee06a687c9b44",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "g": "cc1971e4013987fa",
        "name": "",
        "bias": 0,
        "threshold": "-1",
        "weights": {
            "9d7374590e08a1ea": -0.5862679321070237,
            "2bbca30b8fe54a89": -0.000017595378559804052,
            "b6d3156a1b7950f2": 0.0000171108315393487,
            "97cc2cf089fd432b": 0.00007891590610621171,
            "b409a42929e0b2b4": 0.3309477082866717,
            "f147a41c14cf792a": 0.00025642505453558385,
            "088c8d356c830f6d": 0.004987102354816544,
            "4abb348e7263de40": 0.005297655952413493,
            "41622f3473cfb56f": -0.24043395688036018,
            "4f14ac62f8f069f2": -0.5597217530447092,
            "38ee46896e8afc70": -0.10373640439918735,
            "c52b1dce2c3cdb66": 0.43841192735420786,
            "ad9e2d4b22036fbf": -0.032472950197119814,
            "ae0306299c5e6fe7": 0.24122040718900642,
            "06821941ee4e1839": -0.06341695594779714,
            "7e2084fcfa0b4107": 0.24248906776302973
        },
        "actfunct": "ElliotSig",
        "x": 1267,
        "y": 820.3333282470703,
        "wires": [
            [
                "313665e04e61359b"
            ]
        ]
    },
    {
        "id": "61fd04f77fbb5dcb",
        "type": "comment",
        "z": "4e2d8c13066b705e",
        "name": "Description test data available there --> https://archive.ics.uci.edu/ml/datasets/Abalone",
        "info": "",
        "x": 471,
        "y": 93,
        "wires": []
    },
    {
        "id": "c5f4edab9227651b",
        "type": "debug",
        "z": "4e2d8c13066b705e",
        "name": "show test output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "values",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1886,
        "y": 145,
        "wires": []
    },
    {
        "id": "f9a88ecd59c5d986",
        "type": "switch",
        "z": "4e2d8c13066b705e",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "test-output",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1660,
        "y": 145,
        "wires": [
            [
                "c5f4edab9227651b"
            ]
        ]
    }
]