examples/abalone-auto.json
[
    {
        "id": "4e2d8c13066b705e",
        "type": "tab",
        "label": "Abalone - automatic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "41622f3473cfb56f",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "69b3b4d075b73e0b": -0.3442429853094819,
            "b68f5f83b42f3f75": -0.0002897356220859461,
            "c6fe8ffe09f6b49a": 0.00004005095654421773,
            "6c448b340d14c153": 0.06475372958913558,
            "aee8146be4148868": -0.004546592262518454,
            "b3dea75bed3045a7": -0.00006137015498810685,
            "3d57239420fd0729": -0.014027131523875648,
            "c03913d2e07ed895": -0.00023342403029628792,
            "123aae41b26bfe8e": 0.49028929698769774,
            "2b84e5bbb64fe0cb": -0.9925576394077207,
            "39677c738305356f": -0.3818569321410439,
            "b85af86ca0340368": -0.7956072485349406,
            "e60677f1ea7d46b6": 0.8098551506399572,
            "fb3498f0d536a1cf": -0.29035934122975293,
            "28b88f6d78f5b28e": 0.7567597307535467,
            "cb5155fe5b33e067": 0.5912996396942867
        },
        "actfunct": "Identity",
        "x": 867,
        "y": 692.3333282470703,
        "wires": [
            [
                "317faf983c665e9b",
                "774ee06a687c9b44"
            ]
        ]
    },
    {
        "id": "4f14ac62f8f069f2",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "69b3b4d075b73e0b": -0.5129913330032997,
            "b68f5f83b42f3f75": -0.758074854862596,
            "c6fe8ffe09f6b49a": -0.8102858681452546,
            "6c448b340d14c153": -0.04021179092785754,
            "aee8146be4148868": 0.21767480006275453,
            "b3dea75bed3045a7": -0.9048057192221864,
            "3d57239420fd0729": 0.2186834457940083,
            "c03913d2e07ed895": -0.9092781754050884,
            "123aae41b26bfe8e": 0.9621965441451783,
            "2b84e5bbb64fe0cb": -0.35999265180294104,
            "39677c738305356f": 0.289631381457895,
            "b85af86ca0340368": -0.7699899882648631,
            "e60677f1ea7d46b6": 0.5978459016340745,
            "fb3498f0d536a1cf": -0.5652234793509447,
            "28b88f6d78f5b28e": -0.5813544255555723,
            "cb5155fe5b33e067": -0.128533499559643
        },
        "actfunct": "Sinusoid",
        "x": 877,
        "y": 754.0000152587891,
        "wires": [
            [
                "774ee06a687c9b44",
                "317faf983c665e9b"
            ]
        ]
    },
    {
        "id": "123aae41b26bfe8e",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "name": "Gender",
        "x": 359,
        "y": 530.0000326974052,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "2b84e5bbb64fe0cb",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "name": "Length",
        "x": 369,
        "y": 610.8571730633172,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "06821941ee4e1839",
                "7e2084fcfa0b4107"
            ]
        ],
        "info": "Sex,Length,Diameter,Height,Whole,Shucked,Viscera,Shell,Rings"
    },
    {
        "id": "313665e04e61359b",
        "type": "nnb-output-node",
        "z": "4e2d8c13066b705e",
        "name": "Rings",
        "weights": {
            "088c8d356c830f6d": 1,
            "9d7374590e08a1ea": 0.8539994423584765,
            "d7ca0b7b9d5f2df5": 0.018718954449526315,
            "86f077bb176c0b9e": null,
            "840b927f9097a0ab": null,
            "6be3952086799015": null,
            "d1e47a7e37be8d5d": -128.8287356283184,
            "8de98739b9044e35": null,
            "f845421bd28d0944": null,
            "4ad9e52c3209a507": null,
            "9fa0d4f1b742dfce": null,
            "b3b0f69e3e88f309": 0.5,
            "91cc49775bf95761": 0.5,
            "14d39e537e3e4673": 1,
            "4abb348e7263de40": 1,
            "2bbca30b8fe54a89": 1,
            "b6d3156a1b7950f2": 1,
            "97cc2cf089fd432b": 1,
            "b409a42929e0b2b4": 1,
            "f147a41c14cf792a": 1,
            "47fb8f7c29cb5643": -0.006763502852086571,
            "2e2a5ef6ef1593d5": -0.019064616546362243,
            "317faf983c665e9b": -0.9713679142898162,
            "774ee06a687c9b44": -0.7127509329371109
        },
        "x": 1474,
        "y": 771.0000762939453,
        "wires": [
            [
                "bb0ad883c48368ef"
            ]
        ]
    },
    {
        "id": "bb0ad883c48368ef",
        "type": "nnb-backprop",
        "z": "4e2d8c13066b705e",
        "name": "",
        "scope": [
            "313665e04e61359b"
        ],
        "x": 1759,
        "y": 456.99993896484375,
        "wires": [
            [
                "ac32b2a02aedee86"
            ]
        ]
    },
    {
        "id": "ac32b2a02aedee86",
        "type": "nnb-trainer",
        "z": "4e2d8c13066b705e",
        "name": "",
        "scope": [
            "123aae41b26bfe8e",
            "2b84e5bbb64fe0cb",
            "39677c738305356f",
            "b85af86ca0340368",
            "e60677f1ea7d46b6",
            "fb3498f0d536a1cf",
            "28b88f6d78f5b28e",
            "cb5155fe5b33e067"
        ],
        "learningrate": "0.04",
        "weightmin": "-1",
        "weightmax": "1",
        "x": 1753,
        "y": 227,
        "wires": [
            [
                "bb0ad883c48368ef",
                "f9a88ecd59c5d986"
            ]
        ]
    },
    {
        "id": "cff4f050653ed502",
        "type": "csv",
        "z": "4e2d8c13066b705e",
        "name": "dataset - 4177 entries",
        "sep": ",",
        "hdrin": false,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "Gender,Length,Diameter,Height,Whole,Shucked,Viscera,Shell,Rings",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 943,
        "y": 344,
        "wires": [
            [
                "463033903251f2df"
            ]
        ]
    },
    {
        "id": "74cf1b8c67e81cdc",
        "type": "http request",
        "z": "4e2d8c13066b705e",
        "name": "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 343.9999694824219,
        "wires": [
            [
                "cff4f050653ed502"
            ]
        ],
        "info": "Details available here:\n\nhttps://archive.ics.uci.edu/ml/datasets/Abalone\n\nData:\n\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/abalone/\n\n"
    },
    {
        "id": "6ac0dc3be346274e",
        "type": "inject",
        "z": "4e2d8c13066b705e",
        "name": "Load dataset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 276,
        "y": 283.99998474121094,
        "wires": [
            [
                "74cf1b8c67e81cdc"
            ]
        ]
    },
    {
        "id": "463033903251f2df",
        "type": "function",
        "z": "4e2d8c13066b705e",
        "name": "remap gender & set topic",
        "func": "var _genderMap = {\n    'M': 0.01,\n    'F': 0.02,\n    'I': 0.03\n};\n\nfor ( var idx = 0; idx < msg.payload.length ; idx++ ) {\n    msg.payload[idx].Gender = _genderMap[msg.payload[idx].Gender]\n}\n\nmsg.topic = \"dataset\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 344,
        "wires": [
            [
                "60606a3b44c63da6"
            ]
        ]
    },
    {
        "id": "39677c738305356f",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "name": "Diameter",
        "x": 359,
        "y": 691.7143134292292,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "ae0306299c5e6fe7",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "b85af86ca0340368",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "name": "Height",
        "x": 369,
        "y": 772.5714537951411,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "e60677f1ea7d46b6",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "name": "Whole",
        "x": 369,
        "y": 853.4285941610531,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "fb3498f0d536a1cf",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "name": "Shucked",
        "x": 359,
        "y": 934.285734526965,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "28b88f6d78f5b28e",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "name": "Viscera",
        "x": 359,
        "y": 1015.142874892877,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "cb5155fe5b33e067",
        "type": "nnb-input-node",
        "z": "4e2d8c13066b705e",
        "name": "Shell",
        "x": 369,
        "y": 1096.000015258789,
        "wires": [
            [
                "41622f3473cfb56f",
                "4f14ac62f8f069f2",
                "38ee46896e8afc70",
                "c52b1dce2c3cdb66",
                "06821941ee4e1839",
                "ad9e2d4b22036fbf",
                "ae0306299c5e6fe7",
                "7e2084fcfa0b4107"
            ]
        ]
    },
    {
        "id": "33d9a54d09b3f7cc",
        "type": "inject",
        "z": "4e2d8c13066b705e",
        "name": "randomise weights",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "random-weights",
        "x": 299,
        "y": 225.3332977294922,
        "wires": [
            [
                "ac32b2a02aedee86"
            ]
        ]
    },
    {
        "id": "60606a3b44c63da6",
        "type": "change",
        "z": "4e2d8c13066b705e",
        "name": "set training and test sizes",
        "rules": [
            {
                "t": "set",
                "p": "training_size",
                "pt": "msg",
                "to": "32",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "testing_size",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1495,
        "y": 343.33331298828125,
        "wires": [
            [
                "ac32b2a02aedee86"
            ]
        ]
    },
    {
        "id": "38ee46896e8afc70",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "69b3b4d075b73e0b": -0.06377806745778017,
            "b68f5f83b42f3f75": -0.5191529460848671,
            "c6fe8ffe09f6b49a": -0.3277284352989841,
            "6c448b340d14c153": 0.9250734519836256,
            "aee8146be4148868": -0.00454659226251845,
            "b3dea75bed3045a7": 0.2303658244140131,
            "3d57239420fd0729": 0.8551077070899943,
            "c03913d2e07ed895": -0.4602164673646334,
            "123aae41b26bfe8e": -0.25563525653913155,
            "2b84e5bbb64fe0cb": -0.07467644780095162,
            "39677c738305356f": -0.5815214843934169,
            "b85af86ca0340368": 0.22846600308473253,
            "e60677f1ea7d46b6": -0.3491902389686743,
            "fb3498f0d536a1cf": -0.3411746973583787,
            "28b88f6d78f5b28e": 0.9944579529828652,
            "cb5155fe5b33e067": 0.379619147195843
        },
        "actfunct": "Identity",
        "x": 867,
        "y": 632.3333282470703,
        "wires": [
            [
                "317faf983c665e9b",
                "774ee06a687c9b44"
            ]
        ]
    },
    {
        "id": "c52b1dce2c3cdb66",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "name": "",
        "bias": 0,
        "threshold": "0",
        "weights": {
            "b68f5f83b42f3f75": 0.000010442528307690134,
            "6c448b340d14c153": 0.0010644690593154009,
            "aee8146be4148868": 0.00003155582584975163,
            "b3dea75bed3045a7": 0.000002580326670235231,
            "3d57239420fd0729": 0.0009688101440572079,
            "69b3b4d075b73e0b": -0.04418034167739243,
            "c6fe8ffe09f6b49a": 0.000008516425028398338,
            "c03913d2e07ed895": -0.00002594859396165819,
            "123aae41b26bfe8e": 0.6972280953918237,
            "2b84e5bbb64fe0cb": 0.9620322161734243,
            "39677c738305356f": 0.2891949481322085,
            "b85af86ca0340368": 0.7928628282211374,
            "e60677f1ea7d46b6": 0.16728254134596643,
            "fb3498f0d536a1cf": 0.010052190498286429,
            "28b88f6d78f5b28e": -0.22830332173136636,
            "cb5155fe5b33e067": -0.9858916082824427
        },
        "actfunct": "SELU",
        "x": 867,
        "y": 809.3333282470703,
        "wires": [
            [
                "774ee06a687c9b44",
                "317faf983c665e9b"
            ]
        ]
    },
    {
        "id": "ad9e2d4b22036fbf",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "name": "",
        "bias": "0",
        "threshold": "-0",
        "weights": {
            "69b3b4d075b73e0b": -0.2697501619550997,
            "b68f5f83b42f3f75": -0.0006492693409407074,
            "c6fe8ffe09f6b49a": 0.005593659056350576,
            "6c448b340d14c153": 0.005596178945094108,
            "aee8146be4148868": 0.000036911167179977144,
            "b3dea75bed3045a7": -0.01601735674581917,
            "3d57239420fd0729": -0.050473187991846205,
            "c03913d2e07ed895": -0.06289544160574616,
            "123aae41b26bfe8e": 0.3243927431649931,
            "2b84e5bbb64fe0cb": 0.07492918152223504,
            "39677c738305356f": -0.5297059750865278,
            "b85af86ca0340368": 0.6138738349215997,
            "e60677f1ea7d46b6": 0.7891576510249578,
            "fb3498f0d536a1cf": -0.2919784922266362,
            "28b88f6d78f5b28e": -0.10921554486397778,
            "cb5155fe5b33e067": -0.1915230007381914
        },
        "actfunct": "Sinc",
        "x": 867,
        "y": 932.3333282470703,
        "wires": [
            [
                "774ee06a687c9b44",
                "317faf983c665e9b"
            ]
        ]
    },
    {
        "id": "ae0306299c5e6fe7",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "name": "",
        "bias": "0",
        "threshold": "0",
        "weights": {
            "69b3b4d075b73e0b": 0.3841789158152365,
            "b68f5f83b42f3f75": 1.26139696789249e-8,
            "c6fe8ffe09f6b49a": 0.004853808609101314,
            "6c448b340d14c153": 0.006299288486772927,
            "aee8146be4148868": -0.005457250832927505,
            "b3dea75bed3045a7": -0.0008083136232581649,
            "3d57239420fd0729": 0.08437564120220878,
            "c03913d2e07ed895": -0.04246353994792084,
            "123aae41b26bfe8e": -0.36932769027827206,
            "2b84e5bbb64fe0cb": -0.33299418733013564,
            "39677c738305356f": -0.0649401076020042,
            "b85af86ca0340368": -0.5069019516895441,
            "e60677f1ea7d46b6": -0.8006447989846475,
            "fb3498f0d536a1cf": 0.5723945944246798,
            "28b88f6d78f5b28e": -0.5378072448910278,
            "cb5155fe5b33e067": -0.881072285278083
        },
        "actfunct": "Logistic",
        "x": 867,
        "y": 987.0000762939453,
        "wires": [
            [
                "774ee06a687c9b44",
                "317faf983c665e9b"
            ]
        ]
    },
    {
        "id": "06821941ee4e1839",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "name": "",
        "bias": 0,
        "threshold": "0",
        "weights": {
            "69b3b4d075b73e0b": 0.647061096416059,
            "b68f5f83b42f3f75": 0.285876682746115,
            "c6fe8ffe09f6b49a": -0.5305270910492642,
            "6c448b340d14c153": 0.013361201229471712,
            "aee8146be4148868": 0.005457250832927506,
            "b3dea75bed3045a7": 0.10532894825967729,
            "3d57239420fd0729": 0.030808943018973297,
            "c03913d2e07ed895": 0.6734951332981663,
            "123aae41b26bfe8e": 0.047214482923996215,
            "2b84e5bbb64fe0cb": -0.8316577502658205,
            "39677c738305356f": -0.7918742809971744,
            "b85af86ca0340368": 0.15826978853795826,
            "e60677f1ea7d46b6": 0.46536474436526154,
            "fb3498f0d536a1cf": 0.8189393943181793,
            "28b88f6d78f5b28e": 0.07920953015019139,
            "cb5155fe5b33e067": 0.7820750539383483
        },
        "actfunct": "Logistic",
        "x": 867,
        "y": 871.3333282470703,
        "wires": [
            [
                "774ee06a687c9b44",
                "317faf983c665e9b"
            ]
        ]
    },
    {
        "id": "7e2084fcfa0b4107",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "b68f5f83b42f3f75": -6.280768371481855e-7,
            "6c448b340d14c153": -0.0003356167523939958,
            "aee8146be4148868": -0.005457250832927504,
            "b3dea75bed3045a7": -0.0010507647041465911,
            "3d57239420fd0729": -0.042265077377327834,
            "69b3b4d075b73e0b": 0.553365135966607,
            "c6fe8ffe09f6b49a": 0.0027634383382546205,
            "c03913d2e07ed895": 0.023666926174236387,
            "123aae41b26bfe8e": 0.41395509328966007,
            "2b84e5bbb64fe0cb": 0.9729920097675477,
            "39677c738305356f": 0.3973307559968542,
            "b85af86ca0340368": 0.5886596488187399,
            "e60677f1ea7d46b6": -0.35728903508086285,
            "fb3498f0d536a1cf": 0.4626195748941697,
            "28b88f6d78f5b28e": -0.6038618425096844,
            "cb5155fe5b33e067": 0.7873395506920797
        },
        "actfunct": "Logistic",
        "x": 877,
        "y": 573.3333282470703,
        "wires": [
            [
                "317faf983c665e9b",
                "774ee06a687c9b44"
            ]
        ]
    },
    {
        "id": "317faf983c665e9b",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "name": "",
        "bias": 0,
        "threshold": "-1",
        "weights": {
            "088c8d356c830f6d": 0.14253634292745856,
            "4abb348e7263de40": -0.11565748100858195,
            "f147a41c14cf792a": 0.0011921733813730004,
            "9d7374590e08a1ea": -0.019524417493297783,
            "2bbca30b8fe54a89": -0.33068218380668274,
            "b6d3156a1b7950f2": -0.8485366450239248,
            "97cc2cf089fd432b": 0.0014149442652957684,
            "b409a42929e0b2b4": 0.04313564948252452,
            "41622f3473cfb56f": 0.6352163884716373,
            "4f14ac62f8f069f2": -0.663781986442511,
            "38ee46896e8afc70": 0.6260111726830235,
            "c52b1dce2c3cdb66": 0.5457485308414869,
            "ad9e2d4b22036fbf": -0.11525073203199332,
            "ae0306299c5e6fe7": 0.37073733989531243,
            "06821941ee4e1839": -0.0005229398172064137,
            "7e2084fcfa0b4107": -0.2116914498704392
        },
        "actfunct": "BipolarSigmoid",
        "x": 1287,
        "y": 715.3333282470703,
        "wires": [
            [
                "313665e04e61359b"
            ]
        ]
    },
    {
        "id": "774ee06a687c9b44",
        "type": "nnb-layer-node",
        "z": "4e2d8c13066b705e",
        "name": "",
        "bias": 0,
        "threshold": "-1",
        "weights": {
            "9d7374590e08a1ea": -0.5862679321070237,
            "2bbca30b8fe54a89": -0.000017595378559804052,
            "b6d3156a1b7950f2": 0.0000171108315393487,
            "97cc2cf089fd432b": 0.00007891590610621171,
            "b409a42929e0b2b4": 0.3309477082866717,
            "f147a41c14cf792a": 0.00025642505453558385,
            "088c8d356c830f6d": 0.004987102354816544,
            "4abb348e7263de40": 0.005297655952413493,
            "41622f3473cfb56f": 0.5071761271783259,
            "4f14ac62f8f069f2": 0.1202068733356998,
            "38ee46896e8afc70": 0.6401633308020851,
            "c52b1dce2c3cdb66": 0.10977931378601635,
            "ad9e2d4b22036fbf": -0.3207881366337615,
            "ae0306299c5e6fe7": 0.8049650787875411,
            "06821941ee4e1839": -0.9025297784217257,
            "7e2084fcfa0b4107": -0.8798153660509422
        },
        "actfunct": "ElliotSig",
        "x": 1267,
        "y": 820.3333282470703,
        "wires": [
            [
                "313665e04e61359b"
            ]
        ]
    },
    {
        "id": "61fd04f77fbb5dcb",
        "type": "comment",
        "z": "4e2d8c13066b705e",
        "name": "Description test data available there --> https://archive.ics.uci.edu/ml/datasets/Abalone",
        "info": "",
        "x": 471,
        "y": 93,
        "wires": []
    },
    {
        "id": "c5f4edab9227651b",
        "type": "debug",
        "z": "4e2d8c13066b705e",
        "name": "show test output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "values",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1886,
        "y": 145,
        "wires": []
    },
    {
        "id": "f9a88ecd59c5d986",
        "type": "switch",
        "z": "4e2d8c13066b705e",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "test-output",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1660,
        "y": 145,
        "wires": [
            [
                "c5f4edab9227651b"
            ]
        ]
    }
]
