examples/abalone-manual.json
[
    {
        "id": "0b7db789c2b6bb19",
        "type": "tab",
        "label": "Abalone - manual",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05f3a02d7253f092",
        "type": "group",
        "z": "0b7db789c2b6bb19",
        "name": "Artificial Neural Network (ANN)",
        "style": {
            "label": true,
            "label-position": "s"
        },
        "nodes": [
            "088c8d356c830f6d",
            "9d7374590e08a1ea",
            "69b3b4d075b73e0b",
            "b68f5f83b42f3f75",
            "620171f821496e36",
            "c6fe8ffe09f6b49a",
            "6c448b340d14c153",
            "aee8146be4148868",
            "b3dea75bed3045a7",
            "3d57239420fd0729",
            "c03913d2e07ed895",
            "4abb348e7263de40",
            "2bbca30b8fe54a89",
            "b6d3156a1b7950f2",
            "97cc2cf089fd432b",
            "b409a42929e0b2b4",
            "f147a41c14cf792a",
            "47fb8f7c29cb5643",
            "2e2a5ef6ef1593d5"
        ],
        "x": 236,
        "y": 506.6667044503349,
        "w": 1298,
        "h": 655.9999825613838
    },
    {
        "id": "088c8d356c830f6d",
        "type": "nnb-layer-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "69b3b4d075b73e0b": 0.9951878412515284,
            "b68f5f83b42f3f75": -0.8155389448715592,
            "c6fe8ffe09f6b49a": 0.18462701935655887,
            "6c448b340d14c153": -0.2023333358487581,
            "aee8146be4148868": -0.2884867252578076,
            "b3dea75bed3045a7": -0.03760911093231699,
            "3d57239420fd0729": -0.6390244983000488,
            "c03913d2e07ed895": -0.7051425899045815
        },
        "actfunct": "Identity",
        "x": 830,
        "y": 710,
        "wires": [
            [
                "47fb8f7c29cb5643",
                "2e2a5ef6ef1593d5"
            ]
        ]
    },
    {
        "id": "9d7374590e08a1ea",
        "type": "nnb-layer-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "69b3b4d075b73e0b": -0.5177779153607249,
            "b68f5f83b42f3f75": 0.4530068720510818,
            "c6fe8ffe09f6b49a": -0.045729663504824644,
            "6c448b340d14c153": 0.3917513843752625,
            "aee8146be4148868": 0.10040414130754818,
            "b3dea75bed3045a7": 0.8707315841275945,
            "3d57239420fd0729": -0.6884405258902112,
            "c03913d2e07ed895": -0.5115177785658349
        },
        "actfunct": "Sinusoid",
        "x": 840,
        "y": 771.6666870117188,
        "wires": [
            [
                "2e2a5ef6ef1593d5",
                "47fb8f7c29cb5643"
            ]
        ]
    },
    {
        "id": "69b3b4d075b73e0b",
        "type": "nnb-input-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "Gender",
        "x": 322,
        "y": 547.6667044503349,
        "wires": [
            [
                "088c8d356c830f6d",
                "9d7374590e08a1ea",
                "4abb348e7263de40",
                "2bbca30b8fe54a89",
                "b409a42929e0b2b4",
                "b6d3156a1b7950f2",
                "97cc2cf089fd432b",
                "f147a41c14cf792a"
            ]
        ]
    },
    {
        "id": "b68f5f83b42f3f75",
        "type": "nnb-input-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "Length",
        "x": 332,
        "y": 628.5238448162469,
        "wires": [
            [
                "088c8d356c830f6d",
                "9d7374590e08a1ea",
                "4abb348e7263de40",
                "2bbca30b8fe54a89",
                "b6d3156a1b7950f2",
                "97cc2cf089fd432b",
                "b409a42929e0b2b4",
                "f147a41c14cf792a"
            ]
        ],
        "info": "Sex,Length,Diameter,Height,Whole,Shucked,Viscera,Shell,Rings"
    },
    {
        "id": "620171f821496e36",
        "type": "nnb-output-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "Rings",
        "weights": {
            "088c8d356c830f6d": 1,
            "9d7374590e08a1ea": 0.8539994423584765,
            "d7ca0b7b9d5f2df5": 0.018718954449526315,
            "86f077bb176c0b9e": null,
            "840b927f9097a0ab": null,
            "6be3952086799015": null,
            "d1e47a7e37be8d5d": -128.8287356283184,
            "8de98739b9044e35": null,
            "f845421bd28d0944": null,
            "4ad9e52c3209a507": null,
            "9fa0d4f1b742dfce": null,
            "b3b0f69e3e88f309": 0.5,
            "91cc49775bf95761": 0.5,
            "14d39e537e3e4673": 1,
            "4abb348e7263de40": 1,
            "2bbca30b8fe54a89": 1,
            "b6d3156a1b7950f2": 1,
            "97cc2cf089fd432b": 1,
            "b409a42929e0b2b4": 1,
            "f147a41c14cf792a": 1,
            "47fb8f7c29cb5643": -0.9855484462765275,
            "2e2a5ef6ef1593d5": 0.23444469288536657
        },
        "x": 1458,
        "y": 772.666748046875,
        "wires": [
            [
                "5b87723b51ae8934"
            ]
        ]
    },
    {
        "id": "5b87723b51ae8934",
        "type": "nnb-backprop",
        "z": "0b7db789c2b6bb19",
        "name": "",
        "scope": [
            "620171f821496e36"
        ],
        "x": 1674,
        "y": 455.33331298828125,
        "wires": [
            []
        ]
    },
    {
        "id": "3d89f50ceffe4d65",
        "type": "nnb-trainer",
        "z": "0b7db789c2b6bb19",
        "name": "",
        "scope": [
            "69b3b4d075b73e0b",
            "b68f5f83b42f3f75",
            "c6fe8ffe09f6b49a",
            "6c448b340d14c153",
            "aee8146be4148868",
            "b3dea75bed3045a7",
            "3d57239420fd0729",
            "c03913d2e07ed895"
        ],
        "learningrate": "0.04",
        "weightmin": "-1",
        "weightmax": "1",
        "x": 1529,
        "y": 321.3333435058594,
        "wires": [
            [
                "5b87723b51ae8934"
            ]
        ]
    },
    {
        "id": "6ebd079754be0f9c",
        "type": "csv",
        "z": "0b7db789c2b6bb19",
        "name": "dataset - 4177 entries",
        "sep": ",",
        "hdrin": false,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "Gender,Length,Diameter,Height,Whole,Shucked,Viscera,Shell,Rings",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 836,
        "y": 223.6666717529297,
        "wires": [
            [
                "fd10675ff318d748"
            ]
        ]
    },
    {
        "id": "083b458fe7360f87",
        "type": "http request",
        "z": "0b7db789c2b6bb19",
        "name": "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 586,
        "y": 166.66665649414062,
        "wires": [
            [
                "6ebd079754be0f9c"
            ]
        ],
        "info": "Details available here:\n\nhttps://archive.ics.uci.edu/ml/datasets/Abalone\n\nData:\n\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/abalone/\n\n"
    },
    {
        "id": "4f62b368ca17f0ae",
        "type": "inject",
        "z": "0b7db789c2b6bb19",
        "name": "Load dataset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 332,
        "y": 256.66668701171875,
        "wires": [
            [
                "083b458fe7360f87"
            ]
        ]
    },
    {
        "id": "fd10675ff318d748",
        "type": "function",
        "z": "0b7db789c2b6bb19",
        "name": "remap gender & set topic",
        "func": "var _genderMap = {\n    'M': 0.01,\n    'F': 0.02,\n    'I': 0.03\n};\n\nfor ( var idx = 0; idx < msg.payload.length ; idx++ ) {\n    msg.payload[idx].Gender = _genderMap[msg.payload[idx].Gender]\n}\n\nmsg.topic = \"dataset\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 953,
        "y": 274.66668701171875,
        "wires": [
            [
                "122a1ff6479a7738"
            ]
        ]
    },
    {
        "id": "c6fe8ffe09f6b49a",
        "type": "nnb-input-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "Diameter",
        "x": 322,
        "y": 709.3809851821588,
        "wires": [
            [
                "088c8d356c830f6d",
                "9d7374590e08a1ea",
                "4abb348e7263de40",
                "2bbca30b8fe54a89",
                "97cc2cf089fd432b",
                "b409a42929e0b2b4",
                "b6d3156a1b7950f2",
                "f147a41c14cf792a"
            ]
        ]
    },
    {
        "id": "6c448b340d14c153",
        "type": "nnb-input-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "Height",
        "x": 332,
        "y": 790.2381255480708,
        "wires": [
            [
                "088c8d356c830f6d",
                "9d7374590e08a1ea",
                "4abb348e7263de40",
                "2bbca30b8fe54a89",
                "b409a42929e0b2b4",
                "b6d3156a1b7950f2",
                "97cc2cf089fd432b",
                "f147a41c14cf792a"
            ]
        ]
    },
    {
        "id": "aee8146be4148868",
        "type": "nnb-input-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "Whole",
        "x": 332,
        "y": 871.0952659139828,
        "wires": [
            [
                "088c8d356c830f6d",
                "9d7374590e08a1ea",
                "4abb348e7263de40",
                "2bbca30b8fe54a89",
                "b409a42929e0b2b4",
                "b6d3156a1b7950f2",
                "97cc2cf089fd432b",
                "f147a41c14cf792a"
            ]
        ]
    },
    {
        "id": "b3dea75bed3045a7",
        "type": "nnb-input-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "Shucked",
        "x": 322,
        "y": 951.9524062798947,
        "wires": [
            [
                "088c8d356c830f6d",
                "9d7374590e08a1ea",
                "4abb348e7263de40",
                "2bbca30b8fe54a89",
                "b409a42929e0b2b4",
                "b6d3156a1b7950f2",
                "97cc2cf089fd432b",
                "f147a41c14cf792a"
            ]
        ]
    },
    {
        "id": "3d57239420fd0729",
        "type": "nnb-input-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "Viscera",
        "x": 322,
        "y": 1032.8095466458067,
        "wires": [
            [
                "088c8d356c830f6d",
                "9d7374590e08a1ea",
                "4abb348e7263de40",
                "2bbca30b8fe54a89",
                "b409a42929e0b2b4",
                "b6d3156a1b7950f2",
                "97cc2cf089fd432b",
                "f147a41c14cf792a"
            ]
        ]
    },
    {
        "id": "c03913d2e07ed895",
        "type": "nnb-input-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "Shell",
        "x": 332,
        "y": 1113.6666870117188,
        "wires": [
            [
                "088c8d356c830f6d",
                "9d7374590e08a1ea",
                "4abb348e7263de40",
                "2bbca30b8fe54a89",
                "b409a42929e0b2b4",
                "b6d3156a1b7950f2",
                "97cc2cf089fd432b",
                "f147a41c14cf792a"
            ]
        ]
    },
    {
        "id": "3078b9ae65404707",
        "type": "inject",
        "z": "0b7db789c2b6bb19",
        "name": "randomise weights",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "random-weights",
        "x": 1347,
        "y": 244,
        "wires": [
            [
                "3d89f50ceffe4d65"
            ]
        ]
    },
    {
        "id": "122a1ff6479a7738",
        "type": "change",
        "z": "0b7db789c2b6bb19",
        "name": "set training and test sizes",
        "rules": [
            {
                "t": "set",
                "p": "training_size",
                "pt": "msg",
                "to": "212",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "testing_size",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1052,
        "y": 321.3333435058594,
        "wires": [
            [
                "3d89f50ceffe4d65"
            ]
        ]
    },
    {
        "id": "aa6077f4add1bceb",
        "type": "inject",
        "z": "0b7db789c2b6bb19",
        "name": "trigger fast forward",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "backprop-completed",
        "payload": "",
        "payloadType": "date",
        "x": 1347,
        "y": 382,
        "wires": [
            [
                "3d89f50ceffe4d65"
            ]
        ]
    },
    {
        "id": "4abb348e7263de40",
        "type": "nnb-layer-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "69b3b4d075b73e0b": -0.9038197669140656,
            "b68f5f83b42f3f75": -0.25059928869145337,
            "c6fe8ffe09f6b49a": -0.1408622004908667,
            "6c448b340d14c153": -0.45986069349650405,
            "aee8146be4148868": -0.5377965032756248,
            "b3dea75bed3045a7": -0.2379251443326706,
            "3d57239420fd0729": 0.3722886383793547,
            "c03913d2e07ed895": -0.22010404433174732
        },
        "actfunct": "Identity",
        "x": 830,
        "y": 650,
        "wires": [
            [
                "47fb8f7c29cb5643",
                "2e2a5ef6ef1593d5"
            ]
        ]
    },
    {
        "id": "2bbca30b8fe54a89",
        "type": "nnb-layer-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "",
        "bias": 0,
        "threshold": "0",
        "weights": {
            "b68f5f83b42f3f75": 0.7503902061898196,
            "6c448b340d14c153": -0.8985080546882698,
            "aee8146be4148868": 0.4097165387195085,
            "b3dea75bed3045a7": -0.5297045061642149,
            "3d57239420fd0729": -0.9341359827918531,
            "69b3b4d075b73e0b": 0.21675257790816796,
            "c6fe8ffe09f6b49a": -0.28623036950970876,
            "c03913d2e07ed895": -0.903733184031095
        },
        "actfunct": "SELU",
        "x": 830,
        "y": 827,
        "wires": [
            [
                "2e2a5ef6ef1593d5",
                "47fb8f7c29cb5643"
            ]
        ]
    },
    {
        "id": "b6d3156a1b7950f2",
        "type": "nnb-layer-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "",
        "bias": "0",
        "threshold": "-0",
        "weights": {
            "69b3b4d075b73e0b": -0.38511228307407935,
            "b68f5f83b42f3f75": 0.32474710621676495,
            "c6fe8ffe09f6b49a": -0.3177759929062997,
            "6c448b340d14c153": -0.4558223375053763,
            "aee8146be4148868": -1,
            "b3dea75bed3045a7": 0.47181096599838385,
            "3d57239420fd0729": -0.7022841298322582,
            "c03913d2e07ed895": 0.2966845299335937
        },
        "actfunct": "Sinc",
        "x": 830,
        "y": 950,
        "wires": [
            [
                "2e2a5ef6ef1593d5",
                "47fb8f7c29cb5643"
            ]
        ]
    },
    {
        "id": "97cc2cf089fd432b",
        "type": "nnb-layer-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "",
        "bias": "0",
        "threshold": "0",
        "weights": {
            "69b3b4d075b73e0b": 0.5043635613651494,
            "b68f5f83b42f3f75": 0.7002034633323178,
            "c6fe8ffe09f6b49a": 0.7160570195328184,
            "6c448b340d14c153": -0.2238234797411761,
            "aee8146be4148868": -0.17020162276046275,
            "b3dea75bed3045a7": 0.013915310758511547,
            "3d57239420fd0729": 0.4554993536266342,
            "c03913d2e07ed895": 0.2719462423432761
        },
        "actfunct": "Logistic",
        "x": 830,
        "y": 1004.666748046875,
        "wires": [
            [
                "2e2a5ef6ef1593d5",
                "47fb8f7c29cb5643"
            ]
        ]
    },
    {
        "id": "b409a42929e0b2b4",
        "type": "nnb-layer-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "",
        "bias": 0,
        "threshold": "0",
        "weights": {
            "69b3b4d075b73e0b": -0.4802011945527064,
            "b68f5f83b42f3f75": 0.7542146508704595,
            "c6fe8ffe09f6b49a": 0.09624858668283964,
            "6c448b340d14c153": 0.24129070760248733,
            "aee8146be4148868": 0.24205756703592637,
            "b3dea75bed3045a7": 0.5336704862601088,
            "3d57239420fd0729": 0.16663617044721274,
            "c03913d2e07ed895": 0.6978259868148148
        },
        "actfunct": "Logistic",
        "x": 830,
        "y": 889,
        "wires": [
            [
                "2e2a5ef6ef1593d5",
                "47fb8f7c29cb5643"
            ]
        ]
    },
    {
        "id": "f147a41c14cf792a",
        "type": "nnb-layer-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "",
        "bias": "0",
        "threshold": "-1",
        "weights": {
            "b68f5f83b42f3f75": 0.7855501281220887,
            "6c448b340d14c153": 0.8826555915713254,
            "aee8146be4148868": -0.8466044266734777,
            "b3dea75bed3045a7": 0.267917454579933,
            "3d57239420fd0729": 0.6506704235917514,
            "69b3b4d075b73e0b": -0.2823775591278322,
            "c6fe8ffe09f6b49a": 0.051391319237032704,
            "c03913d2e07ed895": -0.17873849600113692
        },
        "actfunct": "Logistic",
        "x": 840,
        "y": 591,
        "wires": [
            [
                "47fb8f7c29cb5643",
                "2e2a5ef6ef1593d5"
            ]
        ]
    },
    {
        "id": "47fb8f7c29cb5643",
        "type": "nnb-layer-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "",
        "bias": 0,
        "threshold": "-1",
        "weights": {
            "088c8d356c830f6d": -0.45573867503996807,
            "4abb348e7263de40": 0.011501834338031225,
            "f147a41c14cf792a": 0.3839191207145281,
            "9d7374590e08a1ea": 1,
            "2bbca30b8fe54a89": -0.6503701014522177,
            "b6d3156a1b7950f2": -0.21735426173289474,
            "97cc2cf089fd432b": -0.1379093601971835,
            "b409a42929e0b2b4": 0.3949505274618345
        },
        "actfunct": "BipolarSigmoid",
        "x": 1250,
        "y": 733,
        "wires": [
            [
                "620171f821496e36"
            ]
        ]
    },
    {
        "id": "2e2a5ef6ef1593d5",
        "type": "nnb-layer-node",
        "z": "0b7db789c2b6bb19",
        "g": "05f3a02d7253f092",
        "name": "",
        "bias": 0,
        "threshold": "-1",
        "weights": {
            "9d7374590e08a1ea": 0.6215391747111038,
            "2bbca30b8fe54a89": -0.31018907460132267,
            "b6d3156a1b7950f2": 0.2735461430264992,
            "97cc2cf089fd432b": 1,
            "b409a42929e0b2b4": 0.5247199355059952,
            "f147a41c14cf792a": 1,
            "088c8d356c830f6d": 0.5479088713803492,
            "4abb348e7263de40": 0.9290588586737377
        },
        "actfunct": "ElliotSig",
        "x": 1234,
        "y": 838,
        "wires": [
            [
                "620171f821496e36"
            ]
        ]
    },
    {
        "id": "07204a4a3c6e3bcd",
        "type": "inject",
        "z": "0b7db789c2b6bb19",
        "name": "trigger backprop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "trigger-backprop",
        "payload": "",
        "payloadType": "date",
        "x": 1349,
        "y": 455.33331298828125,
        "wires": [
            [
                "5b87723b51ae8934"
            ]
        ]
    }
]